html, body, h1, h2, h3, h4, h5, h6, p {
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-size: $base-font-size;
  font-weight: initial;
  margin: 0;
  -webkit-margin-after: initial;
  -webkit-margin-before: initial;
  -webkit-margin-end: initial;
  -webkit-margin-start: initial;
}

body {
  width: 100vw;
}

h1 {
  font-size: 2em;
  letter-spacing: -0.4px;
  line-height: 1.25em;
  margin-bottom: 0.625em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.33333333em;
  margin-bottom: 0.666667em;
}

h3 {
  font-size: 1.125em;
  line-height: 1.33333333em;
  margin-bottom: 0.6666667em;
}

h4 {
  font-size: 1em;
  line-height: 1.25em;
  margin-bottom: 0.625em;
}

p {
  font-size: 0.625em;
  line-height: 1.6em;
  margin-bottom: 0.8em;
}
