html, body, h1, h2, h3, h4, h5, h6, p {
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: initial;
  margin: 0;
  -webkit-margin-after: initial;
  -webkit-margin-before: initial;
  -webkit-margin-end: initial;
  -webkit-margin-start: initial;
}

h1 {
  font-size: 2em;
  letter-spacing: -0.4px;
  line-height: 1.25em;
  margin-bottom: 0.625em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.33333333em;
  margin-bottom: 0.666667em;
}

h3 {
  font-size: 1.125em;
  line-height: 1.33333333em;
  margin-bottom: 0.6666667em;
}

h4 {
  font-size: 1em;
  line-height: 1.25em;
  margin-bottom: 0.625em;
}

p {
  font-size: 0.625em;
  line-height: 1.6em;
  margin-bottom: 0.8em;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  &:after, &:before {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
  .row {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0;
    padding: 0 0.5em;
    &:after, &:before {
      content: '';
      display: table;
    }
    &:after {
      clear: both;
    }

    // MOBILE STYLES //
    @media (min-width: 325px) {
      .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        outline: 1px black solid;
        outline-offset: -2px;
        float: left;
        margin: 0.5em;
        overflow: hidden;
        position: relative;
      }
      .col-xs-1 {
        width: calc(1/12*100% - 1em);
      }
      .col-xs-2 {
        width: calc(2/12*100% - 1em);
      }
      .col-xs-3 {
        width: calc(3/12*100% - 1em);
      }
      .col-xs-4 {
        width: calc(4/12*100% - 1em);
      }
      .col-xs-5 {
        width: calc(5/12*100% - 1em);
      }
      .col-xs-6 {
        width: calc(6/12*100% - 1em);
      }
      .col-xs-7 {
        width: calc(7/12*100% - 1em);
      }
      .col-xs-8 {
        width: calc(8/12*100% - 1em);
      }
      .col-xs-9 {
        width: calc(9/12*100% - 1em);
      }
      .col-xs-10 {
        width: calc(10/12*100% - 1em);
      }
      .col-xs-11 {
        width: calc(11/12*100% - 1em);
      }
      .col-xs-12 {
        width: calc(12/12*100% - 1em);
      }
      .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
          height: initial;
          > * {
            height: calc(100% - 1em);
          }
        }
        .no-pad {
          &.col-xs-1 {
            height: initial;
            width: calc(1/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-2 {
            height: initial;
            width: calc(2/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-3 {
            height: initial;
            width: calc(3/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-4 {
            height: initial;
            width: calc(4/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-5 {
            height: initial;
            width: calc(5/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-6 {
            height: initial;
            width: calc(6/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-7 {
            height: initial;
            width: calc(7/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-8 {
            height: initial;
            width: calc(8/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-9 {
            height: initial;
            width: calc(9/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-10 {
            height: initial;
            width: calc(10/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-11 {
            height: initial;
            width: calc(11/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-12 {
            height: initial;
            width: calc(12/12*100%);
            > * {
              height: initial;
            }
          }
        }
      }
      &.full-bleed {
        margin: 0;
        padding: 0;
        .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
          margin: 0;
          padding: 0;
          > * {
            padding: 1em;
          }
        }
        .col-xs-1 {
          width: calc(1/12*100%);
        }
        .col-xs-2 {
          width: calc(2/12*100%);
        }
        .col-xs-3 {
          width: calc(3/12*100%);
        }
        .col-xs-4 {
          width: calc(4/12*100%);
        }
        .col-xs-5 {
          width: calc(5/12*100%);
        }
        .col-xs-6 {
          width: calc(6/12*100%);
        }
        .col-xs-7 {
          width: calc(7/12*100%);
        }
        .col-xs-8 {
          width: calc(8/12*100%);
        }
        .col-xs-9 {
          width: calc(9/12*100%);
        }
        .col-xs-10 {
          width: calc(10/12*100%);
        }
        .col-xs-11 {
          width: calc(11/12*100%);
        }
        .col-xs-12 {
          width: calc(12/12*100%);
        }
      }
    }

    // TABLET STYLES //
    @media (min-width: 768px) {
      .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        outline: 1px black solid;
        outline-offset: -2px;
        float: left;
        margin: 0.5em;
        overflow: hidden;
        position: relative;
      }
      .col-sm-1 {
        width: calc(1/12*100% - 1em);
      }
      .col-sm-2 {
        width: calc(2/12*100% - 1em);
      }
      .col-sm-3 {
        width: calc(3/12*100% - 1em);
      }
      .col-sm-4 {
        width: calc(4/12*100% - 1em);
      }
      .col-sm-5 {
        width: calc(5/12*100% - 1em);
      }
      .col-sm-6 {
        width: calc(6/12*100% - 1em);
      }
      .col-sm-7 {
        width: calc(7/12*100% - 1em);
      }
      .col-sm-8 {
        width: calc(8/12*100% - 1em);
      }
      .col-sm-9 {
        width: calc(9/12*100% - 1em);
      }
      .col-sm-10 {
        width: calc(10/12*100% - 1em);
      }
      .col-sm-11 {
        width: calc(11/12*100% - 1em);
      }
      .col-sm-12 {
        width: calc(12/12*100% - 1em);
      }
      .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
          height: initial;
          > * {
            height: calc(100% - 1em);
          }
        }
        .no-pad {
          &.col-sm-1 {
            height: initial;
            width: calc(1/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-2 {
            height: initial;
            width: calc(2/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-3 {
            height: initial;
            width: calc(3/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-4 {
            height: initial;
            width: calc(4/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-5 {
            height: initial;
            width: calc(5/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-6 {
            height: initial;
            width: calc(6/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-7 {
            height: initial;
            width: calc(7/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-8 {
            height: initial;
            width: calc(8/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-9 {
            height: initial;
            width: calc(9/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-10 {
            height: initial;
            width: calc(10/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-11 {
            height: initial;
            width: calc(11/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-12 {
            height: initial;
            width: calc(12/12*100%);
            > * {
              height: initial;
            }
          }
        }
      }
      &.full-bleed {
        margin: 0;
        padding: 0;
        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
          margin: 0;
          padding: 0;
          > * {
            padding: 1em;
          }
        }
        .col-sm-1 {
          width: calc(1/12*100%);
        }
        .col-sm-2 {
          width: calc(2/12*100%);
        }
        .col-sm-3 {
          width: calc(3/12*100%);
        }
        .col-sm-4 {
          width: calc(4/12*100%);
        }
        .col-sm-5 {
          width: calc(5/12*100%);
        }
        .col-sm-6 {
          width: calc(6/12*100%);
        }
        .col-sm-7 {
          width: calc(7/12*100%);
        }
        .col-sm-8 {
          width: calc(8/12*100%);
        }
        .col-sm-9 {
          width: calc(9/12*100%);
        }
        .col-sm-10 {
          width: calc(10/12*100%);
        }
        .col-sm-11 {
          width: calc(11/12*100%);
        }
        .col-sm-12 {
          width: calc(12/12*100%);
        }
      }
    }

    // LAPTOP STYLES //
    @media (min-width: 992px) {
      .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        outline: 1px black solid;
        outline-offset: -2px;
        float: left;
        margin: 0.5em;
        overflow: hidden;
        position: relative;
      }
      .col-md-1 {
        width: calc(1/12*100% - 1em);
      }
      .col-md-2 {
        width: calc(2/12*100% - 1em);
      }
      .col-md-3 {
        width: calc(3/12*100% - 1em);
      }
      .col-md-4 {
        width: calc(4/12*100% - 1em);
      }
      .col-md-5 {
        width: calc(5/12*100% - 1em);
      }
      .col-md-6 {
        width: calc(6/12*100% - 1em);
      }
      .col-md-7 {
        width: calc(7/12*100% - 1em);
      }
      .col-md-8 {
        width: calc(8/12*100% - 1em);
      }
      .col-md-9 {
        width: calc(9/12*100% - 1em);
      }
      .col-md-10 {
        width: calc(10/12*100% - 1em);
      }
      .col-md-11 {
        width: calc(11/12*100% - 1em);
      }
      .col-md-12 {
        width: calc(12/12*100% - 1em);
      }
      .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
          height: initial;
          > * {
            height: calc(100% - 1em);
          }
        }
        .no-pad {
          &.col-md-1 {
            height: initial;
            width: calc(1/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-2 {
            height: initial;
            width: calc(2/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-3 {
            height: initial;
            width: calc(3/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-4 {
            height: initial;
            width: calc(4/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-5 {
            height: initial;
            width: calc(5/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-6 {
            height: initial;
            width: calc(6/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-7 {
            height: initial;
            width: calc(7/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-8 {
            height: initial;
            width: calc(8/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-9 {
            height: initial;
            width: calc(9/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-10 {
            height: initial;
            width: calc(10/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-11 {
            height: initial;
            width: calc(11/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-12 {
            height: initial;
            width: calc(12/12*100%);
            > * {
              height: initial;
            }
          }
        }
      }
      &.full-bleed {
        margin: 0;
        padding: 0;
        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
          margin: 0;
          padding: 0;
          > * {
            padding: 1em;
          }
        }
        .col-md-1 {
          width: calc(1/12*100%);
        }
        .col-md-2 {
          width: calc(2/12*100%);
        }
        .col-md-3 {
          width: calc(3/12*100%);
        }
        .col-md-4 {
          width: calc(4/12*100%);
        }
        .col-md-5 {
          width: calc(5/12*100%);
        }
        .col-md-6 {
          width: calc(6/12*100%);
        }
        .col-md-7 {
          width: calc(7/12*100%);
        }
        .col-md-8 {
          width: calc(8/12*100%);
        }
        .col-md-9 {
          width: calc(9/12*100%);
        }
        .col-md-10 {
          width: calc(10/12*100%);
        }
        .col-md-11 {
          width: calc(11/12*100%);
        }
        .col-md-12 {
          width: calc(12/12*100%);
        }
      }
    }

    // DESKTOP STYLES //
    @media (min-width: 1280px) {
      .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        outline: 1px black solid;
        outline-offset: -2px;
        float: left;
        margin: 0.5em;
        overflow: hidden;
        position: relative;
      }
      .col-lg-1 {
        width: calc(1/12*100% - 1em);
      }
      .col-lg-2 {
        width: calc(2/12*100% - 1em);
      }
      .col-lg-3 {
        width: calc(3/12*100% - 1em);
      }
      .col-lg-4 {
        width: calc(4/12*100% - 1em);
      }
      .col-lg-5 {
        width: calc(5/12*100% - 1em);
      }
      .col-lg-6 {
        width: calc(6/12*100% - 1em);
      }
      .col-lg-7 {
        width: calc(7/12*100% - 1em);
      }
      .col-lg-8 {
        width: calc(8/12*100% - 1em);
      }
      .col-lg-9 {
        width: calc(9/12*100% - 1em);
      }
      .col-lg-10 {
        width: calc(10/12*100% - 1em);
      }
      .col-lg-11 {
        width: calc(11/12*100% - 1em);
      }
      .col-lg-12 {
        width: calc(12/12*100% - 1em);
      }
      .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
height: initial;
          > * {
            height: calc(100% - 1em);
          }
        }
        .no-pad {
          &.col-lg-1 {
            height: initial;
            width: calc(1/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-2 {
            height: initial;
            width: calc(2/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-3 {
            height: initial;
            width: calc(3/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-4 {
            height: initial;
            width: calc(4/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-5 {
            height: initial;
            width: calc(5/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-6 {
            height: initial;
            width: calc(6/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-7 {
            height: initial;
            width: calc(7/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-8 {
            height: initial;
            width: calc(8/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-9 {
            height: initial;
            width: calc(9/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-10 {
            height: initial;
            width: calc(10/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-11 {
            height: initial;
            width: calc(11/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-12 {
            height: initial;
            width: calc(12/12*100%);
            > * {
              height: initial;
            }
          }
        }
      }
      &.full-bleed {
        margin: 0;
        padding: 0;
        .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
          margin: 0;
          padding: 0;
          > * {
            padding: 1em;
          }
        }
        .col-lg-1 {
          width: calc(1/12*100%);
        }
        .col-lg-2 {
          width: calc(2/12*100%);
        }
        .col-lg-3 {
          width: calc(3/12*100%);
        }
        .col-lg-4 {
          width: calc(4/12*100%);
        }
        .col-lg-5 {
          width: calc(5/12*100%);
        }
        .col-lg-6 {
          width: calc(6/12*100%);
        }
        .col-lg-7 {
          width: calc(7/12*100%);
        }
        .col-lg-8 {
          width: calc(8/12*100%);
        }
        .col-lg-9 {
          width: calc(9/12*100%);
        }
        .col-lg-10 {
          width: calc(10/12*100%);
        }
        .col-lg-11 {
          width: calc(11/12*100%);
        }
        .col-lg-12 {
          width: calc(12/12*100%);
        }
      }
    }

    @media (min-width: 1600px) {
      .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        outline: 1px black solid;
        outline-offset: -2px;
        float: left;
        margin: 0.5em;
        overflow: hidden;
        position: relative;
      }
      .col-xl-1 {
        width: calc(1/12*100% - 1em);
      }
      .col-xl-2 {
        width: calc(2/12*100% - 1em);
      }
      .col-xl-3 {
        width: calc(3/12*100% - 1em);
      }
      .col-xl-4 {
        width: calc(4/12*100% - 1em);
      }
      .col-xl-5 {
        width: calc(5/12*100% - 1em);
      }
      .col-xl-6 {
        width: calc(6/12*100% - 1em);
      }
      .col-xl-7 {
        width: calc(7/12*100% - 1em);
      }
      .col-xl-8 {
        width: calc(8/12*100% - 1em);
      }
      .col-xl-9 {
        width: calc(9/12*100% - 1em);
      }
      .col-xl-10 {
        width: calc(10/12*100% - 1em);
      }
      .col-xl-11 {
        width: calc(11/12*100% - 1em);
      }
      .col-xl-12 {
        width: calc(12/12*100% - 1em);
      }
      .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
          height: initial;
          > * {
            height: calc(100% - 1em);
          }
        }
        .no-pad {
          &.col-xl-1 {
            height: initial;
            width: calc(1/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-2 {
            height: initial;
            width: calc(2/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-3 {
            height: initial;
            width: calc(3/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-4 {
            height: initial;
            width: calc(4/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-5 {
            height: initial;
            width: calc(5/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-6 {
            height: initial;
            width: calc(6/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-7 {
            height: initial;
            width: calc(7/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-8 {
            height: initial;
            width: calc(8/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-9 {
            height: initial;
            width: calc(9/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-10 {
            height: initial;
            width: calc(10/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-11 {
            height: initial;
            width: calc(11/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-12 {
            height: initial;
            width: calc(12/12*100%);
            > * {
              height: initial;
            }
          }
        }
      }
      &.full-bleed {
        margin: 0;
        padding: 0;
        .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
          margin: 0;
          padding: 0;
          > * {
            padding: 1em;
          }
        }
        .col-xl-1 {
          width: calc(1/12*100%);
        }
        .col-xl-2 {
          width: calc(2/12*100%);
        }
        .col-xl-3 {
          width: calc(3/12*100%);
        }
        .col-xl-4 {
          width: calc(4/12*100%);
        }
        .col-xl-5 {
          width: calc(5/12*100%);
        }
        .col-xl-6 {
          width: calc(6/12*100%);
        }
        .col-xl-7 {
          width: calc(7/12*100%);
        }
        .col-xl-8 {
          width: calc(8/12*100%);
        }
        .col-xl-9 {
          width: calc(9/12*100%);
        }
        .col-xl-10 {
          width: calc(10/12*100%);
        }
        .col-xl-11 {
          width: calc(11/12*100%);
        }
        .col-xl-12 {
          width: calc(12/12*100%);
        }
      }
    }
  }
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12,
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    &.no-pad {
      margin: 0;
      padding: 0;
    }
  }
}
