$black: #000000;
$white: #FFFFFF;

$small-break: 800px;
$medium-break: 1000px;
$large-break: 1400px;
$xlarge-break: 1600px;

$base-font-size: 24px;
$base-gutter-size: 12px;
$double-base-gutter-size: 24px;