.container-fluid {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  .row {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    padding: 0 $base-gutter-size;
    height: 100%;

    .col-md-1 {
        width: 100%;
    }
    .col-md-2 {
        width: 100%;
    }
    .col-md-3 {
        width: 100%;
    }
    .col-md-4 {
        width: 100%;
    }
    .col-md-5 {
        width: 100%;
    }
    .col-md-6 {
        width: 100%;
    }
    .col-md-7 {
        width: 100%;
    }
    .col-md-8 {
        width: 100%;
    }
    .col-md-9 {
        width: 100%;
    }
    .col-md-10 {
        width: 100%;
    }
    .col-md-11 {
        width: 100%;
    }
    .col-md-12 {
        width: 100%;
    }

      .col-sm-1 {
        width: 100%;
    }
    .col-sm-2 {
        width: 100%;
    }
    .col-sm-3 {
        width: 100%;
    }
    .col-sm-4 {
        width: 100%;
    }
    .col-sm-5 {
        width: 100%;
    }
    .col-sm-6 {
        width: 100%;
    }
    .col-sm-7 {
        width: 100%;
    }
    .col-sm-8 {
        width: 100%;
    }
    .col-sm-9 {
        width: 100%;
    }
    .col-sm-10 {
        width: 100%;
    }
    .col-sm-11 {
        width: 100%;
    }
    .col-sm-12 {
        width: 100%;
    }

          .col-lg-1 {
        width: 100%;
    }
    .col-lg-2 {
        width: 100%;
    }
    .col-lg-3 {
        width: 100%;
    }
    .col-lg-4 {
        width: 100%;
    }
    .col-lg-5 {
        width: 100%;
    }
    .col-lg-6 {
        width: 100%;
    }
    .col-lg-7 {
        width: 100%;
    }
    .col-lg-8 {
        width: 100%;
    }
    .col-lg-9 {
        width: 100%;
    }
    .col-lg-10 {
        width: 100%;
    }
    .col-lg-11 {
        width: 100%;
    }
    .col-lg-12 {
        width: 100%;
    }


    .col-xl-1 {
        width: 100%;
    }
    .col-xl-2 {
        width: 100%;
    }
    .col-xl-3 {
        width: 100%;
    }
    .col-xl-4 {
        width: 100%;
    }
    .col-xl-5 {
        width: 100%;
    }
    .col-xl-6 {
        width: 100%;
    }
    .col-xl-7 {
        width: 100%;
    }
    .col-xl-8 {
        width: 100%;
    }
    .col-xl-9 {
        width: 100%;
    }
    .col-xl-10 {
        width: 100%;
    }
    .col-xl-11 {
        width: 100%;
    }
    .col-xl-12 {
        width: 100%;
    }



    // MOBILE STYLES //
    @media (min-width: 325px) {
      .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        float: left;
        margin: $base-gutter-size;
        overflow: hidden;
        position: relative;
      }
      .col-xs-1 {
        width: calc(1/12*100% - #{$double-base-gutter-size});
      }
      .col-xs-2 {
        width: calc(2/12*100% - #{$double-base-gutter-size});
      }
      .col-xs-3 {
        width: calc(3/12*100% - #{$double-base-gutter-size});
      }
      .col-xs-4 {
        width: calc(4/12*100% - #{$double-base-gutter-size});
      }
      .col-xs-5 {
        width: calc(5/12*100% - #{$double-base-gutter-size});
      }
      .col-xs-6 {
        width: calc(6/12*100% - #{$double-base-gutter-size});
      }
      .col-xs-7 {
        width: calc(7/12*100% - #{$double-base-gutter-size});
      }
      .col-xs-8 {
        width: calc(8/12*100% - #{$double-base-gutter-size});
      }
      .col-xs-9 {
        width: calc(9/12*100% - #{$double-base-gutter-size});
      }
      .col-xs-10 {
        width: calc(10/12*100% - #{$double-base-gutter-size});
      }
      .col-xs-11 {
        width: calc(11/12*100% - #{$double-base-gutter-size});
      }
      .col-xs-12 {
        width: calc(12/12*100% - #{$double-base-gutter-size});
      }



	  // OFFSETS
	  .col-xs-offset-1 {
	    margin-left: 1/12*100%;
	  }
	  .col-xs-offset-offset-2 {
	    margin-left: 2/12*100%;
	  }
	  .col-xs-offset-3 {
	    margin-left: 3/12*100%;
	  }
	  .col-xs-offset-4 {
	    margin-left: 4/12*100%;
	  }
	  .col-xs-offset-5 {
	    margin-left: 5/12*100%;
	  }
	  .col-xs-offset-6 {
	    margin-left: 6/12*100%;
	  }
	  .col-xs-offset-7 {
	    margin-left: 7/12*100%;
	  }
	  .col-xs-offset-8 {
	    margin-left: 8/12*100%;
	  }
	  .col-xs-offset-9 {
	    margin-left: 9/12*100%;
	  }
	  .col-xs-offset-10 {
	    margin-left: 10/12*100%;
	  }
	  .col-xs-offset-11 {
	    margin-left: 11/12*100%;
	  }
	  .col-xs-offset-12 {
	    margin-left: 12/12*100%;
	  }





      .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
          height: initial;
          > * {
            height: calc(100% - #{$double-base-gutter-size});
          }
        }
        .no-pad {
          &.col-xs-1 {
            height: initial;
            width: calc(1/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-2 {
            height: initial;
            width: calc(2/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-3 {
            height: initial;
            width: calc(3/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-4 {
            height: initial;
            width: calc(4/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-5 {
            height: initial;
            width: calc(5/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-6 {
            height: initial;
            width: calc(6/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-7 {
            height: initial;
            width: calc(7/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-8 {
            height: initial;
            width: calc(8/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-9 {
            height: initial;
            width: calc(9/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-10 {
            height: initial;
            width: calc(10/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-11 {
            height: initial;
            width: calc(11/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xs-12 {
            height: initial;
            width: calc(12/12*100%);
            > * {
              height: initial;
            }
          }
        }
      }

      &.full-bleed {
        margin: 0;
        padding: 0;
        .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
          margin: 0;
          padding: 0;
          > .row {
            padding: $double-base-gutter-size;
          }
        }
        .col-xs-1 {
          width: calc(1/12*100%);
        }
        .col-xs-2 {
          width: calc(2/12*100%);
        }
        .col-xs-3 {
          width: calc(3/12*100%);
        }
        .col-xs-4 {
          width: calc(4/12*100%);
        }
        .col-xs-5 {
          width: calc(5/12*100%);
        }
        .col-xs-6 {
          width: calc(6/12*100%);
        }
        .col-xs-7 {
          width: calc(7/12*100%);
        }
        .col-xs-8 {
          width: calc(8/12*100%);
        }
        .col-xs-9 {
          width: calc(9/12*100%);
        }
        .col-xs-10 {
          width: calc(10/12*100%);
        }
        .col-xs-11 {
          width: calc(11/12*100%);
        }
        .col-xs-12 {
          width: calc(12/12*100%);
        }
      }
    }

    // TABLET STYLES //


    @media (min-width: $small-break) {
      .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
        margin: $base-gutter-size;
        overflow: hidden;
        position: relative;
      }
      .col-sm-1 {
        width: calc(1/12*100% - #{$double-base-gutter-size});
      }
      .col-sm-2 {
        width: calc(2/12*100% - #{$double-base-gutter-size});
      }
      .col-sm-3 {
        width: calc(3/12*100% - #{$double-base-gutter-size});
      }
      .col-sm-4 {
        width: calc(4/12*100% - #{$double-base-gutter-size});
      }
      .col-sm-5 {
        width: calc(5/12*100% - #{$double-base-gutter-size});
      }
      .col-sm-6 {
        width: calc(6/12*100% - #{$double-base-gutter-size});
      }
      .col-sm-7 {
        width: calc(7/12*100% - #{$double-base-gutter-size});
      }
      .col-sm-8 {
        width: calc(8/12*100% - #{$double-base-gutter-size});
      }
      .col-sm-9 {
        width: calc(9/12*100% - #{$double-base-gutter-size});
      }
      .col-sm-10 {
        width: calc(10/12*100% - #{$double-base-gutter-size});
      }
      .col-sm-11 {
        width: calc(11/12*100% - #{$double-base-gutter-size});
      }
      .col-sm-12 {
        width: calc(12/12*100% - #{$double-base-gutter-size});
      }


	  .col-sm-offset-1 {
	    margin-left: 1/12*100%;
	  }
	  .col-sm-offset-2 {
	    margin-left: 2/12*100%;
	  }
	  .col-sm-offset-3 {
	    margin-left: 3/12*100%;
	  }
	  .col-sm-offset-4 {
	    margin-left: 4/12*100%;
	  }
	  .col-sm-offset-5 {
	    margin-left: 5/12*100%;
	  }
	  .col-sm-offset-6 {
	    margin-left: 6/12*100%;
	  }
	  .col-sm-offset-7 {
	    margin-left: 7/12*100%;
	  }
	  .col-sm-offset-8 {
	    margin-left: 8/12*100%;
	  }
	  .col-sm-offset-9 {
	    margin-left: 9/12*100%;
	  }
	  .col-sm-offset-10 {
	    margin-left: 10/12*100%;
	  }
	  .col-sm-offset-11 {
	    margin-left: 11/12*100%;
	  }
	  .col-sm-offset-12 {
	    margin-left: 12/12*100%;
	  }


      .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
          height: initial;
          > * {
            height: calc(100% - #{$double-base-gutter-size});
          }
        }
        .no-pad {
          &.col-sm-1 {
            height: initial;
            width: calc(1/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-2 {
            height: initial;
            width: calc(2/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-3 {
            height: initial;
            width: calc(3/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-4 {
            height: initial;
            width: calc(4/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-5 {
            height: initial;
            width: calc(5/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-6 {
            height: initial;
            width: calc(6/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-7 {
            height: initial;
            width: calc(7/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-8 {
            height: initial;
            width: calc(8/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-9 {
            height: initial;
            width: calc(9/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-10 {
            height: initial;
            width: calc(10/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-11 {
            height: initial;
            width: calc(11/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-sm-12 {
            height: initial;
            width: calc(12/12*100%);
            > * {
              height: initial;
            }
          }
        }
      }
      &.full-bleed {
        margin: 0;
        padding: 0;
        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
          margin: 0;
          padding: 0;
          > .row {
            padding: $double-base-gutter-size;
          }
        }
        .col-sm-1 {
          width: calc(1/12*100%);
        }
        .col-sm-2 {
          width: calc(2/12*100%);
        }
        .col-sm-3 {
          width: calc(3/12*100%);
        }
        .col-sm-4 {
          width: calc(4/12*100%);
        }
        .col-sm-5 {
          width: calc(5/12*100%);
        }
        .col-sm-6 {
          width: calc(6/12*100%);
        }
        .col-sm-7 {
          width: calc(7/12*100%);
        }
        .col-sm-8 {
          width: calc(8/12*100%);
        }
        .col-sm-9 {
          width: calc(9/12*100%);
        }
        .col-sm-10 {
          width: calc(10/12*100%);
        }
        .col-sm-11 {
          width: calc(11/12*100%);
        }
        .col-sm-12 {
          width: calc(12/12*100%);
        }
      }
    }

    // LAPTOP STYLES //

    @media (min-width: $medium-break) {
      .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
        margin: $base-gutter-size;
        overflow: hidden;
        position: relative;
      }
      .col-md-1 {
        width: calc(1/12*100% - #{$double-base-gutter-size});
      }
      .col-md-2 {
        width: calc(2/12*100% - #{$double-base-gutter-size});
      }
      .col-md-3 {
        width: calc(3/12*100% - #{$double-base-gutter-size});
      }
      .col-md-4 {
        width: calc(4/12*100% - #{$double-base-gutter-size});
      }
      .col-md-5 {
        width: calc(5/12*100% - #{$double-base-gutter-size});
      }
      .col-md-6 {
        width: calc(6/12*100% - #{$double-base-gutter-size});
      }
      .col-md-7 {
        width: calc(7/12*100% - #{$double-base-gutter-size});
      }
      .col-md-8 {
        width: calc(8/12*100% - #{$double-base-gutter-size});
      }
      .col-md-9 {
        width: calc(9/12*100% - #{$double-base-gutter-size});
      }
      .col-md-10 {
        width: calc(10/12*100% - #{$double-base-gutter-size});
      }
      .col-md-11 {
        width: calc(11/12*100% - #{$double-base-gutter-size});
      }
      .col-md-12 {
        width: calc(12/12*100% - #{$double-base-gutter-size});
      }

	  .col-md-offset-1 {
	    margin-left: 1/12*100%;
	  }
	  .col-md-offset-2 {
	    margin-left: 2/12*100%;
	  }
	  .col-md-offset-3 {
	    margin-left: 3/12*100%;
	  }
	  .col-md-offset-4 {
	    margin-left: 4/12*100%;
	  }
	  .col-md-offset-5 {
	    margin-left: 5/12*100%;
	  }
	  .col-md-offset-6 {
	    margin-left: 6/12*100%;
	  }
	  .col-md-offset-7 {
	    margin-left: 7/12*100%;
	  }
	  .col-md-offset-8 {
	    margin-left: 8/12*100%;
	  }
	  .col-md-offset-9 {
	    margin-left: 9/12*100%;
	  }
	  .col-md-offset-10 {
	    margin-left: 10/12*100%;
	  }
	  .col-md-offset-11 {
	    margin-left: 11/12*100%;
	  }
	  .col-md-offset-12 {
	    margin-left: 12/12*100%;
	  }

      .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
          height: initial;
          > * {
            height: calc(100% - #{$double-base-gutter-size});
          }
        }
        .no-pad {
          &.col-md-1 {
            height: initial;
            width: calc(1/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-2 {
            height: initial;
            width: calc(2/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-3 {
            height: initial;
            width: calc(3/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-4 {
            height: initial;
            width: calc(4/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-5 {
            height: initial;
            width: calc(5/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-6 {
            height: initial;
            width: calc(6/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-7 {
            height: initial;
            width: calc(7/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-8 {
            height: initial;
            width: calc(8/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-9 {
            height: initial;
            width: calc(9/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-10 {
            height: initial;
            width: calc(10/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-11 {
            height: initial;
            width: calc(11/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-md-12 {
            height: initial;
            width: calc(12/12*100%);
            > * {
              height: initial;
            }
          }
        }
      }
      &.full-bleed {
        margin: 0;
        padding: 0;
        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
          margin: 0;
          padding: 0;
          > .row {
            padding: $double-base-gutter-size;
          }
        }
        .col-md-1 {
          width: calc(1/12*100%);
        }
        .col-md-2 {
          width: calc(2/12*100%);
        }
        .col-md-3 {
          width: calc(3/12*100%);
        }
        .col-md-4 {
          width: calc(4/12*100%);
        }
        .col-md-5 {
          width: calc(5/12*100%);
        }
        .col-md-6 {
          width: calc(6/12*100%);
        }
        .col-md-7 {
          width: calc(7/12*100%);
        }
        .col-md-8 {
          width: calc(8/12*100%);
        }
        .col-md-9 {
          width: calc(9/12*100%);
        }
        .col-md-10 {
          width: calc(10/12*100%);
        }
        .col-md-11 {
          width: calc(11/12*100%);
        }
        .col-md-12 {
          width: calc(12/12*100%);
        }
      }
    }

    // DESKTOP STYLES //


    @media (min-width: $large-break) {
      .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
        margin: $base-gutter-size;
        overflow: hidden;
        position: relative;
      }
      .col-lg-1 {
        width: calc(1/12*100% - #{$double-base-gutter-size});
      }
      .col-lg-2 {
        width: calc(2/12*100% - #{$double-base-gutter-size});
      }
      .col-lg-3 {
        width: calc(3/12*100% - #{$double-base-gutter-size});
      }
      .col-lg-4 {
        width: calc(4/12*100% - #{$double-base-gutter-size});
      }
      .col-lg-5 {
        width: calc(5/12*100% - #{$double-base-gutter-size});
      }
      .col-lg-6 {
        width: calc(6/12*100% - #{$double-base-gutter-size});
      }
      .col-lg-7 {
        width: calc(7/12*100% - #{$double-base-gutter-size});
      }
      .col-lg-8 {
        width: calc(8/12*100% - #{$double-base-gutter-size});
      }
      .col-lg-9 {
        width: calc(9/12*100% - #{$double-base-gutter-size});
      }
      .col-lg-10 {
        width: calc(10/12*100% - #{$double-base-gutter-size});
      }
      .col-lg-11 {
        width: calc(11/12*100% - #{$double-base-gutter-size});
      }
      .col-lg-12 {
        width: calc(12/12*100% - #{$double-base-gutter-size});
      }


	  .col-lg-offset-1 {
	    margin-left: 1/12*100%;
	  }
	  .col-lg-offset-2 {
	    margin-left: 2/12*100%;
	  }
	  .col-lg-offset-3 {
	    margin-left: 3/12*100%;
	  }
	  .col-lg-offset-4 {
	    margin-left: 4/12*100%;
	  }
	  .col-lg-offset-5 {
	    margin-left: 5/12*100%;
	  }
	  .col-lg-offset-6 {
	    margin-left: 6/12*100%;
	  }
	  .col-lg-offset-7 {
	    margin-left: 7/12*100%;
	  }
	  .col-lg-offset-8 {
	    margin-left: 8/12*100%;
	  }
	  .col-lg-offset-9 {
	    margin-left: 9/12*100%;
	  }
	  .col-lg-offset-10 {
	    margin-left: 10/12*100%;
	  }
	  .col-lg-offset-11 {
	    margin-left: 11/12*100%;
	  }
	  .col-lg-offset-12 {
	    margin-left: 12/12*100%;
	  }


      .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
height: initial;
          > * {
            height: calc(100% - #{$double-base-gutter-size});
          }
        }
        .no-pad {
          &.col-lg-1 {
            height: initial;
            width: calc(1/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-2 {
            height: initial;
            width: calc(2/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-3 {
            height: initial;
            width: calc(3/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-4 {
            height: initial;
            width: calc(4/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-5 {
            height: initial;
            width: calc(5/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-6 {
            height: initial;
            width: calc(6/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-7 {
            height: initial;
            width: calc(7/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-8 {
            height: initial;
            width: calc(8/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-9 {
            height: initial;
            width: calc(9/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-10 {
            height: initial;
            width: calc(10/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-11 {
            height: initial;
            width: calc(11/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-lg-12 {
            height: initial;
            width: calc(12/12*100%);
            > * {
              height: initial;
            }
          }
        }
      }
      &.full-bleed {
        margin: 0;
        padding: 0;
        .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
          margin: 0;
          padding: 0;
          > .row {
            padding: $double-base-gutter-size;
          }
        }
        .col-lg-1 {
          width: calc(1/12*100%);
        }
        .col-lg-2 {
          width: calc(2/12*100%);
        }
        .col-lg-3 {
          width: calc(3/12*100%);
        }
        .col-lg-4 {
          width: calc(4/12*100%);
        }
        .col-lg-5 {
          width: calc(5/12*100%);
        }
        .col-lg-6 {
          width: calc(6/12*100%);
        }
        .col-lg-7 {
          width: calc(7/12*100%);
        }
        .col-lg-8 {
          width: calc(8/12*100%);
        }
        .col-lg-9 {
          width: calc(9/12*100%);
        }
        .col-lg-10 {
          width: calc(10/12*100%);
        }
        .col-lg-11 {
          width: calc(11/12*100%);
        }
        .col-lg-12 {
          width: calc(12/12*100%);
        }
      }
    }

    // HD Desktop


    @media (min-width: $xlarge-break) {
      .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        float: left;
        margin: $base-gutter-size;
        overflow: hidden;
        position: relative;
      }
      .col-xl-1 {
        width: calc(1/12*100% - #{$double-base-gutter-size});
      }
      .col-xl-2 {
        width: calc(2/12*100% - #{$double-base-gutter-size});
      }
      .col-xl-3 {
        width: calc(3/12*100% - #{$double-base-gutter-size});
      }
      .col-xl-4 {
        width: calc(4/12*100% - #{$double-base-gutter-size});
      }
      .col-xl-5 {
        width: calc(5/12*100% - #{$double-base-gutter-size});
      }
      .col-xl-6 {
        width: calc(6/12*100% - #{$double-base-gutter-size});
      }
      .col-xl-7 {
        width: calc(7/12*100% - #{$double-base-gutter-size});
      }
      .col-xl-8 {
        width: calc(8/12*100% - #{$double-base-gutter-size});
      }
      .col-xl-9 {
        width: calc(9/12*100% - #{$double-base-gutter-size});
      }
      .col-xl-10 {
        width: calc(10/12*100% - #{$double-base-gutter-size});
      }
      .col-xl-11 {
        width: calc(11/12*100% - #{$double-base-gutter-size});
      }
      .col-xl-12 {
        width: calc(12/12*100% - #{$double-base-gutter-size});
      }


	  .col-xl-offset-1 {
	    margin-left: 1/12*100%;
	  }
	  .col-xl-offset-2 {
	    margin-left: 2/12*100%;
	  }
	  .col-xl-offset-3 {
	    margin-left: 3/12*100%;
	  }
	  .col-xl-offset-4 {
	    margin-left: 4/12*100%;
	  }
	  .col-xl-offset-5 {
	    margin-left: 5/12*100%;
	  }
	  .col-xl-offset-6 {
	    margin-left: 6/12*100%;
	  }
	  .col-xl-offset-7 {
	    margin-left: 7/12*100%;
	  }
	  .col-xl-offset-8 {
	    margin-left: 8/12*100%;
	  }
	  .col-xl-offset-9 {
	    margin-left: 9/12*100%;
	  }
	  .col-xl-offset-10 {
	    margin-left: 10/12*100%;
	  }
	  .col-xl-offset-11 {
	    margin-left: 11/12*100%;
	  }
	  .col-xl-offset-12 {
	    margin-left: 12/12*100%;
	  }

      .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
          height: initial;
          > * {
            height: calc(100% - #{$double-base-gutter-size});
          }
        }
        .no-pad {
          &.col-xl-1 {
            height: initial;
            width: calc(1/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-2 {
            height: initial;
            width: calc(2/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-3 {
            height: initial;
            width: calc(3/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-4 {
            height: initial;
            width: calc(4/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-5 {
            height: initial;
            width: calc(5/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-6 {
            height: initial;
            width: calc(6/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-7 {
            height: initial;
            width: calc(7/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-8 {
            height: initial;
            width: calc(8/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-9 {
            height: initial;
            width: calc(9/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-10 {
            height: initial;
            width: calc(10/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-11 {
            height: initial;
            width: calc(11/12*100%);
            > * {
              height: initial;
            }
          }
          &.col-xl-12 {
            height: initial;
            width: calc(12/12*100%);
            > * {
              height: initial;
            }
          }
        }
      }
      &.full-bleed {
        margin: 0;
        padding: 0;
        .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
          margin: 0;
          padding: 0;
          > .row {
            padding: $double-base-gutter-size;
          }
        }
        .col-xl-1 {
          width: calc(1/12*100%);
        }
        .col-xl-2 {
          width: calc(2/12*100%);
        }
        .col-xl-3 {
          width: calc(3/12*100%);
        }
        .col-xl-4 {
          width: calc(4/12*100%);
        }
        .col-xl-5 {
          width: calc(5/12*100%);
        }
        .col-xl-6 {
          width: calc(6/12*100%);
        }
        .col-xl-7 {
          width: calc(7/12*100%);
        }
        .col-xl-8 {
          width: calc(8/12*100%);
        }
        .col-xl-9 {
          width: calc(9/12*100%);
        }
        .col-xl-10 {
          width: calc(10/12*100%);
        }
        .col-xl-11 {
          width: calc(11/12*100%);
        }
        .col-xl-12 {
          width: calc(12/12*100%);
        }
      }
    }
  }
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12,
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    &.no-pad {
      margin: 0;
      padding: 0;
    }
  }
}

.container {
    @extend .container-fluid;
    max-width: $large-break;
}
